<!DOCTYPE html>
<html lang="ro">
<head>
    <title>RocketPCs - Ghid</title>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <link rel="stylesheet" href="/resurse/css/ghid.css">
    <div class="imagine-duotone"></div>
    <main>
    <section id="Ghid">
        <h3>Ghid utilizare site</h3>
        <ul>
            <li>
                <h4>Meniu derulant</h4>
                <p>
                    În partea de sus a acestei pagini se află un meniu derulant de care te poți folosi pentru a ajunge instant la 
                        categoria de produse care te interesează . Fiecare categorie principală(
                    <i>Build-uri PC , Periferice și accesorii ,Componente</i>
                    ) 
                        conține subcategorii (
                    <i>PC gaming , Monitoare , Procesoare</i>
                    ) pentru clienții hotărâți care nu doresc să zăbovească .
                </p>
            </li>
            <li>
                <h4>Produse favorite</h4>
                <p>
                    În cazul în care ai un produs pe care dorești să-l revizitezi îl poți adăuga la colecția de produse favorite ce va apărea în secțiunea de cont personal.
                        Poți marca un produs ca fiind favorit prin apăsarea butonului sugestiv , iar noi vom ține minte lucrurile care îți plac!
                </p>
            </li>
            <li>
                <h4>Coș curent</h4>
                <p>
                    Dacă te-ai decis că vrei să achiziționezi un produs de la noi nu ai decât să îl adaugi în coșul tău . Vei putea vizualiza coșul în pagina dedicată împreună cu 
                        detalii despre comanda ta curentă(
                    <i>preț total , număr produse , discount , cod de reducere</i>
                    ) .
                </p>
            </li>
            <li>
                <h4>Secțiunea de cont</h4>
                <p>În secțiunea de cont vei putea vizualiza detalii despre contul tău precum și informații de interes , comenzi anterioare ,trimitere către coș curent</p>
            </li>
            <li>
                <h4>Plată și livrare</h4>
                <p>Procesul de comandă este simplu și sigur. După adăugarea produselor în coș, vei putea selecta metoda de plată dorită (card, ramburs, sau rate) și opțiunea de livrare. Lucrăm cu firme de curierat rapide și oferim posibilitatea de urmărire în timp real a comenzii tale.</p>
            </li>
            <li>
                <h4>Benchmark build-uri</h4>
                <p>
                    Pe acest site puteți calcula performanța build-ului dumneavoastră în funcție de calitatea componentelor acestuia.
                    <br>
                    Dacă avem un
                    <b>PC</b>
                    care conține un
                    <b style="color:red">procesor</b>
                    ,
                    <b style="color:green"> GPU</b>
                    ,
                    <b style="color:yellow">RAM</b>
                    ,
                    <b style="color:purple">storage</b>
                    cu scorurile benchmark
                    <b style="color:red">10000</b>
                    ,
                    <b style="color:green">4500</b>
                    ,
                    <b style="color:yellow">5000</b>
                    respectiv
                    <b style="color:purple">8000</b>
                    atunci performanța
                    <b>calculatorului</b>
                    este de:
                </p>
                <math>
                    <mn>
                        10000
                    </mn>
                    <mo>
                        +
                    </mo>
                    <mn>
                        4500
                    </mn>
                    <mo>
                        +
                    </mo>
                    <mn>
                        5000
                    </mn>
                    <mo>
                        +
                    </mo>
                    <mn>
                        8000
                    </mn>
                    <mo>
                        =
                    </mo>
                    <mn>
                        27500
                    </mn>
                </math>
            </li>
        </ul>
    </section>
    <div class="benchmark-image">
        <img src="/resurse/imagini/Benchmark-Testing.webp" alt="Benchmarking">
    </div>
</main>
    <%- include("../fragmente/footer.ejs")%>
</body>
</html>