<header>
    <p class="watermark"></p>
    <div class="menu-bar">
        <div class="header-container">
            <div class="antet">
                <div class="logo">
                    <a href="/index#Acasa">
                        <img src="/resurse/imagini/Logo_fara_main_page.png" alt="Poza Logo">
                    </a>
                    <h1 class="logo-text">
                        Rocket
                        <span>PC</span>s.
                    </h1>
                </div>
                <q>
                    <i>
                        Noi construim
                        <b>puterea</b>
                        . Tu o
                        <b>controlezi</b>
                        .
                    </i>
                </q>
            </div>
            <label for="ch-menu">
                <div class="hamburger">
                    <div class="bara-1"></div>
                    <div class="bara-2"></div>
                    <div class="bara-3"></div>
                </div>
            </label>
        </div>
        <input type="checkbox" id="ch-menu">
        <section class="wipe-container">
            <div class="wipe-1"></div>
            <div class="wipe-2">

            <nav >
                <ul>
                    <li>
                        <a href="/index#">
                            <div class="imag-icon">
                                <i class="fas fa-regular fa-house"></i>
                            </div>
                            <div class="text-icon">
                                <span class="fas fa-regular fa-house"></span>
                                <div class="container-acasa">
                                    Acasă
                                    <i class="fas fa-caret-down"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="/index#Introducere">Introducere</a>
                                </li>
                                <li>
                                    <a href="/index#Despre_noi">Despre noi</a>
                                </li>
                                <li>
                                    <a href="/index#FAQ">FAQ</a>
                                </li>
                                <li>
                                    <a href="/index#Termeni">Termeni și condiții</a>
                                </li>
                                <li>
                                    <a href="/index#Tutoriale">Tutoriale și linkuri utile</a>
                                </li>
                                <li>
                                    <a href="/index#Contact">Contact</a>
                                </li>
                                <li>
                                    <a href="ghid">Ghid utilizare site</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <div class="imag-icon">
                                <i class="fa-solid fa-desktop"></i>
                            </div>
                            <div class="text-icon">
                                Build-uri PC
                                <i class="fas fa-caret-down"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>

                                <li>
                                    <a href="galeriePC">Galerie PC</a>
                                </li>
                                <li>
                                    <a href="#">PC gaming</a>
                                </li>
                                <li>
                                    <a href="#">PC office</a>
                                </li>
                                <li>
                                    <a href="#">Server PC</a>
                                </li>
                                <li>
                                    <a href="#">PC all-in-one</a>
                                </li>
                                <li>
                                    <a href="#">PC streaming și randare</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <div class="imag-icon">
                                <i class="fa-solid fa-keyboard"></i>
                            </div>
                            <div class="text-icon">
                                Periferice și accesorii
                                <i class="fas fa-caret-down"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <a href="#">
                                        Periferice
                                        <i class="fas fa-caret-right"></i>
                                    </a>
                                    <div class="dropdown-menu-1">
                                        <ul>
                                            <li>
                                                <a href="#">Monitoare</a>
                                            </li>
                                            <li>
                                                <a href="#">Mouse-uri</a>
                                            </li>
                                            <li>
                                                <a href="#">Tastaturi</a>
                                            </li>
                                            <li>
                                                <a href="#">Căști</a>
                                            </li>
                                            <li>
                                                <a href="#">Boxe</a>
                                            </li>
                                            <li>
                                                <a href="#">Microfoane</a>
                                            </li>
                                            <li>
                                                <a href="#">Imprimante</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        Accesorii
                                        <i class="fas fa-caret-right"></i>
                                    </a>
                                    <div class="dropdown-menu-1">
                                        <ul>
                                            <li>
                                                <a href="#">Mouse pad-uri</a>
                                            </li>
                                            <li>
                                                <a href="#">Stick-uri USB</a>
                                            </li>
                                            <li>
                                                <a href="#">Scaune de gaming</a>
                                            </li>
                                            <li>
                                                <a href="#">Suport de căști</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <div class="imag-icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="text-icon">
                                Cont
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="imag-icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                            <div class="text-icon">
                                Coș curent
                            </div>
                        </a>
                    </li>
                </ul>

        </nav>
    </div>
    </section>

    </div>
</header>