.galerie-animata {
  width: 90vw;
  height: 80vh;
  margin: 2rem auto;
  border: 0.5rem solid;
  border-image: url("/resurse/imagini/imagine_border.jpg") 10 round;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--culoare-navbar);
}

.grid-dinamica {
  animation: zoomGallery 80s infinite ease-in-out;
  animation-play-state: running;
  padding-bottom: 2rem;
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, calc((100% - 3 * 2rem) / 4));
  grid-template-rows: repeat(4, calc((100% - 3 * 2rem) / 4));
  box-sizing: border-box;
}
.grid-dinamica:hover {
  animation-play-state: paused;
}
.grid-dinamica figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.grid-dinamica figure figcaption {
  position: relative;
  bottom: 10px;
  justify-self: center;
}
.grid-dinamica figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@keyframes zoomGallery {
  2.5%, 3% {
    transform-origin: 3% 1%;
    transform: scale(4);
  }
  5.5%, 6% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  8.5%, 9% {
    transform-origin: 3% 32%;
    transform: scale(4);
  }
  11.5%, 12% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  14.5%, 15% {
    transform-origin: 3% 65%;
    transform: scale(4);
  }
  17.5%, 18% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  20.5%, 21% {
    transform-origin: 3% 98.5%;
    transform: scale(4);
  }
  23.5%, 24% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  26.5%, 27% {
    transform-origin: 35% 1%;
    transform: scale(4);
  }
  29.5%, 30% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  32.5%, 33% {
    transform-origin: 35% 32%;
    transform: scale(4);
  }
  35.5%, 36% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  38.5%, 39% {
    transform-origin: 35% 65%;
    transform: scale(4);
  }
  41.5%, 42% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  44.5%, 45% {
    transform-origin: 35% 98.5%;
    transform: scale(4);
  }
  47.5%, 48% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  50.5%, 51% {
    transform-origin: 70% 1%;
    transform: scale(4);
  }
  53.5%, 54% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  56.5%, 57% {
    transform-origin: 70% 32%;
    transform: scale(4);
  }
  59.5%, 60% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  62.5%, 63% {
    transform-origin: 70% 65%;
    transform: scale(4);
  }
  65.5%, 66% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  68.5%, 69% {
    transform-origin: 70% 98.5%;
    transform: scale(4);
  }
  71.5%, 72% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  74.5%, 75% {
    transform-origin: 99.5% 1%;
    transform: scale(4);
  }
  77.5%, 78% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  80.5%, 81% {
    transform-origin: 99.5% 32%;
    transform: scale(4);
  }
  83.5%, 84% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  86.5%, 87% {
    transform-origin: 99.5% 65%;
    transform: scale(4);
  }
  89.5%, 90% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
  92.5%, 93% {
    transform-origin: 99.5% 98.5%;
    transform: scale(4);
  }
  95.5%, 96% {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
}
@media screen and (max-width: 1024px) {
  .galerie-animata {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .galerie-animata {
    display: none;
  }
}