.logo-text {
  color: var(--culoare-alb);
  font-size: 2rem;
}
.logo-text span {
  color: var(--culoare-detalii);
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 25%;
  margin-right: 0.5em;
  border: 0.15rem var(--culoare-detalii) solid;
}

.antet q b {
  color: var(--culoare-detalii);
}

.menu-bar {
  background-color: var(--culoare-navbar);
  display: flex;
  align-items: center;
  padding: 4% 1%;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 15vh;
  top: 0;
}
.menu-bar .wipe-container {
  width: 100%;
  display: grid;
}
.menu-bar .wipe-1,
.menu-bar .wipe-2 {
  grid-area: 1/1;
  block-size: 100%;
  text-align: center;
  align-content: center;
}
.menu-bar nav {
  z-index: 100;
}
.menu-bar nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.menu-bar nav ul li {
  position: relative;
}
.menu-bar nav ul li a {
  display: flex;
  font-size: 1.2rem;
  color: var(--culoare-alb);
  text-decoration: none;
  transition: color 0.3s;
}
.menu-bar nav ul li a:hover {
  color: var(--culoare-detalii);
}
.menu-bar nav ul li a:hover .container-acasa {
  color: var(--culoare-detalii);
}
.menu-bar nav ul li a .container-acasa {
  color: var(--culoare-navbar);
  transition: all 0.3s ease-in;
}
.menu-bar nav ul li a .text-icon {
  display: flex;
  gap: 0.3rem;
}
.menu-bar nav ul li:hover > a {
  color: var(--culoare-detalii);
}
.menu-bar nav ul li:hover a .container-acasa {
  color: var(--culoare-detalii);
}
.menu-bar nav ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--culoare-navbar);
  animation: dropdown 0.5s ease-out;
  animation-fill-mode: forwards;
}
.menu-bar nav ul li:hover .dropdown-menu ul {
  display: block;
  margin: 1rem;
}
.menu-bar nav ul li:hover .dropdown-menu ul li {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 8rem;
  padding: 5% 2%;
}
.menu-bar .header-container {
  width: 35%;
  padding-top: 1rem;
}

.dropdown-menu {
  display: none;
  transform: scale(0);
  transform-origin: center top;
}
.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: var(--culoare-navbar);
  animation: dropdown 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes dropdown {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.dropdown-menu-1 {
  display: none;
  transform: scale(0);
  transform-origin: left top;
}

.antet {
  display: block;
}

.link-top {
  position: fixed;
  bottom: 0.4em;
  opacity: 0.5;
  left: 0.3em;
  width: 3rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 2.5rem;
  border: 0.2rem solid gray;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0.5em 0.5em var(--culoare-inchisa);
  text-decoration: none;
  color: gray;
}

.triunghi {
  font-size: 2.2rem;
  font-weight: 1000;
  text-align: center;
}

.link-top:hover {
  opacity: 1;
  background-color: lightgray;
  border-color: gray;
  color: gray;
  transition: 0.3s ease-in;
}

.imag-icon {
  display: none;
}

.hamburger {
  visibility: hidden;
  z-index: -10;
}

.hamburger div {
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.3rem;
}

#ch-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .imag-icon {
    display: flex;
  }
  .text-icon {
    display: none !important;
  }
  .menu-bar {
    height: 15vh;
    padding: 0 1%;
  }
  .menu-bar .header-container {
    width: 100% !important;
  }
  .menu-bar .navigare {
    width: 100%;
  }
  .menu-bar .navigare ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  .menu-bar .navigare ul li .dropdown-menu {
    position: absolute;
    left: -2rem !important;
  }
  .menu-bar .navigare ul li .dropdown-menu ul li {
    display: flex;
    justify-content: center;
    padding: 1% 2%;
    text-align: center;
  }
  .menu-bar .navigare ul li .dropdown-menu ul li a {
    font-size: 1rem;
  }
  .logo img {
    width: 3rem;
    height: auto;
  }
  .logo-text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    visibility: visible;
    z-index: 10;
    transform: translateX(1rem);
    transition: 2s ease-in-out;
  }
  .hamburger div:nth-child(1) {
    animation-delay: 200ms;
  }
  .hamburger div:nth-child(2) {
    animation-delay: 400ms;
  }
  .hamburger div:nth-child(3) {
    animation-delay: 600ms;
  }
  .hamburger div {
    animation: hamburger-animatie 2s ease-in-out forwards;
  }
  @keyframes hamburger-animatie {
    0% {
      background-color: gray;
      opacity: 0.1;
    }
    70% {
      transform: translateX(1rem);
    }
    100% {
      transform: translateX(0);
      background-color: var(--culoare-alb);
      opacity: 1;
    }
  }
  div.menu-bar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0;
  }
  div.menu-bar .antet q {
    display: none;
  }
  div.menu-bar .antet .logo img {
    width: 2.5rem;
  }
  div.menu-bar .antet .logo .logo-text {
    font-size: 1.5rem;
    display: flex;
  }
  div.menu-bar .header-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
    padding: 0;
  }
  div.menu-bar .logo {
    display: flex;
    align-items: center;
  }
  div.menu-bar .wipe-container {
    visibility: hidden;
    width: 0%;
    text-align: center;
  }
  div.menu-bar .wipe-container > ul {
    flex-direction: column;
    background-color: var(--culoare-navbar);
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  div.menu-bar .wipe-container > ul li a {
    color: var(--culoare-alb);
    text-decoration: none;
  }
  div.menu-bar nav > ul > li:nth-child(3) .dropdown-menu a {
    padding-left: 5vw;
  }
  .wipe-1 {
    background-color: transparent;
  }
  .wipe-2 {
    background-color: var(--culoare-navbar);
  }
  @property --position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
  }
  .wipe-2 {
    --size: 20%;
    mask-image: linear-gradient(#000 calc(var(--position) - var(--size)), rgba(0, 0, 0, 0) calc(var(--position)));
    transition: --position 1s ease-in-out;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 {
    --position: 120%;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 {
    display: block !important;
    visibility: visible;
    z-index: 100;
    width: 100%;
    height: auto;
    position: absolute;
    top: 100%;
    margin: 0;
    left: 0%;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav {
    display: block !important;
    visibility: visible;
    z-index: 100;
    width: 100%;
    margin: 0;
    left: 0%;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul {
    align-items: center;
    flex-direction: column;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li {
    padding: 1%;
    align-items: center;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li a {
    width: 100%;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li a .text-icon {
    display: flex !important;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li a .imag-icon {
    display: none;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li:hover a {
    justify-content: center;
    align-items: center;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li:hover .dropdown-menu {
    display: block;
    position: static;
    justify-content: center;
    top: 0%;
    z-index: 100;
    width: 100%;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li:hover .dropdown-menu ul li {
    display: block;
    align-items: center;
    padding: 1%;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li:hover .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: static;
    top: 0;
    left: 0;
    z-index: 100;
    transform-origin: center top;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li:hover .dropdown-menu ul li:hover .dropdown-menu-1 ul li a {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li:first-child a .text-icon {
    display: none !important;
  }
  #ch-menu:checked ~ .wipe-container .wipe-2 nav ul li:first-child a .imag-icon {
    display: flex;
  }
  #ch-menu {
    display: none;
  }
}